<section class="contact-us-section">
  <div class="container">
    <div class="row">
        <div class="contact-spacer col s12 l9">
        <h1 class="huge-contact-us"><span class="contact-large gradient-words-blue">Contact </span>
        <h1 class="huge-contact-us"><span class="us-large">Us.</span></h1></h1>
      </div>
      <div class="col l3 contact-message">
        <h5 class="contact-heading">Let's make something amazing.</h5>
        <p class="contact-message">We collaborate with companies of all sizes and industry, but we specialize in helping small business grow their
          presence and identity. If you're an <span class="bold-words">8a, HUBZone, Woman Owned Small Business,
        Veteran Owned, or a Small Disadvantaged business</span>, let's work together! Bixo Studios willing to go to the edge
          of the waterfall and take a leap into the sparkling pool of new ideas. We won’t jump separately;
          we’re one team, and we’ll be with you the whole way.</p>
        <hr>
      </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
      <div class="col l3  offset-l9 send-note">
        <h5 class="contact-heading">Send us a note</h5>
        <h5 class="contact-text">&#8594; <a href="mailto:hello@bixo.io">hello@bixo.io</a></h5>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col l3  offset-l9">
        <h5 class="contact-heading">Let's talk on the phone</h5>
        <h5 class="contact-text"><a href="https://calendly.com/bixo">&#8594; Schedule</a></h5>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col l3  offset-l9">
        <h5 class="contact-heading">Location</h5>
        <h5 class="contact-text">&#8594; San Antonio, Texas</h5>
        <hr>
      </div>
    </div>
  </div>
</section>
