#BixoLab {
  width: 500px;
  height: 500px;
  position: relative;
  top: 50px;
}

#InnerFlamePath {
  fill: #d84315;
  animation: 10s inner-flame-animate infinite;
}

#FizzOne {
  stroke: #F95959;
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  animation: 3s fizzle-one infinite;
}

#FizzTwo {
  stroke: #F95959;
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  animation: 3.5s fizzle-one infinite;
}

#FizzThree {
  stroke: #F95959;
  stroke-dasharray: 30;
  stroke-dashoffset: 30;
  animation: 2s fizzle-one infinite;
}

@keyframes fizzle-one {

  0% {
    stroke-dashoffset: 75;
  }
  100% {
    stroke-dashoffset: 2;
  }
}

@keyframes inner-flame-animate {
  0% {
    fill: #ff9800;
  }
  10% {
    fill: #ff8a65;
  }
  15% {
    fill: #ff3d00;
  }
  20% {
    fill: #fff9c4;
  }
  25% {
    fill: #fdd835;
  }
  30% {
    fill: #ff6f00;
  }
  35% {
    fill: #d84315;
  }
  45% {
    fill: #ff9100;
  }
  50% {
    fill: #ff9800;
  }
  55% {
    fill: #ffab91;
  }
  75% {
    fill: #ff6d00;
  }
  100% {
    fill: #F95959;
  }
}



@media only screen and (min-device-width: 360px) and (max-device-width:640px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
   #BixoLab {
    width: 400px;
    height: 200px;
    top: 0px;
  }
}


/* iPhone 6 landscape */
@media only screen and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2)
{
  #BixoLab {
    width: 400px;
    height: 200px;
    top: 0px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    #BixoLab {
    width: 400px;
    height: 200px;
    top: 0px;
  }
}


/* iPhone 6 portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
   #BixoLab {
    width: 400px;
    height: 200px;
    top: 0px;
  }
}


/* iPhone 6 Plus landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
    #BixoLab {
    width: 400px;
    height: 200px;
    top: 0px;
  }
}


/* iPhone 6 Plus portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
   #BixoLab {
    width: 400px;
    height: 200px;
    top: 0px;
  }
}


/* iPhone 6 and 6 Plus */

@media only screen and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px) {}


/* Apple Watch */

@media (max-device-width: 42mm) and (min-device-width: 38mm) {}
