/* NAVIGATION  #455D7A

.top-nav {
  background-color: #455D7A;
  height: 150px;
}

#nav-mobile li:hover {
  background-color: #F95959;
  height: 100px;
}

#nav-mobile {
  padding-right: 318px;
  padding-top: 25px;
}

#nav-mobile {

}



*/

/* Nav Styling */

.bixo-logo {
  height: 75px;
  width: 75px;
}

.nav-wrapper {
  height: 100px;
  padding-right: 350px;
}


nav ul li:hover {
   background-color: #F95959;
}


nav {
    height: 100px;
    line-height: 100px;
    background-color: #455D7A;
}


nav .brand-logo {
    font-size: 2.5rem;
}

nav ul li.active {
  background-color: #F95959;
}
