<section class="bixo-is-awesome">
  <div class="container">
    <div class="row">
      <div class="col s12 l6">
        <h1 class="bixo-is-awesome">Why We Are Awesome</h1>
        <h6>
          We believe that the best work happens when talented people trust each other enough to take risks and be real. We’re passionate, curious, driven, and committed to doing great work. <br>
          <br>
          Our teams mix up disciplines. Designers, developers, strategists and producers sit together and learn from each other daily. Collaborating across disciplines leads to smarter work, stronger ideas and tight camaraderie.
        </h6>
      </div>
      <div class="col s12 l6">

      </div>
    </div>
  </div>
</section>
