<section class="bixo-is-awesome" id="quick-who">
  <div class="container">
    <div class="row">
      <div class="col s12 l6">
        <h1 class="bixo-heading">Who We Are</h1>
        <h5>
          We believe that the best work happens when talented people trust each other enough to take risks and be real. We’re passionate,
          curious, driven, and committed to doing great work. <br>
          <br> Bixo Studios is mix of disciplines. Designers, developers and strategist work together and learn from each
          other daily. Collaborating across disciplines leads to smarter work, stronger ideas and tight camaraderie.
        </h5>
      </div>
      <div class="col s12 l6">
        <img class="bixo-collaborate-img responsive-img" src="../assets/bixo-collaborate.png">
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br><br><br><br>
  <app-call-to-action></app-call-to-action>
</section>
