<!-- HERO -->
<section class="bixo-hero-our-way">
  <div class="container">
    <div class="row top-hero-spacer">
    </div>
    <div class="row hero-message">
      <div class="col s12 l12 hide-on-small-only">
        <p class="bixo-studios-text" aria-label="BixoFancy">
          <span class="bixo-fancy-text" data-text="B">B</span>
          <span class="bixo-fancy-text" data-text="I">I</span>
          <span class="bixo-fancy-text" data-text="X">X</span>
          <span class="bixo-fancy-text" data-text="O">O</span>
          <span class="bixo-fancy-text" data-text=""> </span>
          <span class="bixo-fancy-text" data-text="S">S</span>
          <span class="bixo-fancy-text" data-text="T">T</span>
          <span class="bixo-fancy-text" data-text="U">U</span>
          <span class="bixo-fancy-text" data-text="D">D</span>
          <span class="bixo-fancy-text" data-text="I">I</span>
          <span class="bixo-fancy-text" data-text="O">O</span>
          <span class="bixo-fancy-text" data-text="S">S</span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 bixo-hero-message">
        <h3 class="right-align we-craft">We <span class="text-animate">craft </span> web <span class="gradient-words-blue">experiences</span>.</h3>
        <p class="right-align">Based in San Antonio, Texas, we specialize in Design, Brand Building & Development.</p>
      </div>
    </div>
    <div class="row hero-button">
      <div class="col s12 center-align learn-more hide-on-small-only">
        <a href="#quick-who" class="btn-floating waves-effect waves-light red lighten-1 learn-more"><i class="material-icons">arrow_downward</i></a>
      </div>
    </div>
  </div>
</section>
<!-- END HERO  -->
<!--WHO WE ARE -->
<section class="who-is-bixo" id="quick-who">
  <div class="container">
    <div class="row">
      <div class="col s12 l6">
        <h1 class="bixo-heading">Who We Are</h1>
        <h6 class="who-we-are-message">
          We believe that the best work happens when talented people trust each other enough to take risks and be real. We’re passionate,
          curious, driven, and committed to doing great work.
          <br>
          <br> Bixo Studios is mix of disciplines. Our chemical make-up inclues designers, developers and craftsmen working together and learning from each
          other daily. Collaborating across disciplines leads to smarter work, stronger ideas and tight camaraderie.
          <br>
          <br> We work towards a problem until we have the right compound of ideas, design and development. Not every
          project is the same, but our potent mixture of personalities and skillsets allow us to provide highly innovative solutions.
        </h6>
      </div>
      <div class="col s12 l6">
        <app-svg-bixolab></app-svg-bixolab>
      </div>
    </div>
  </div>
</section>
<!-- END WHO WE ARE-->
<!-- WHAT WE DO -->
<section class="bixo-what-we-do">
  <div class="container">
    <h1 class="bixo-heading">What We Do</h1>
    <div class="row">
      <div class="col s12 l4">
        <div class="card white service-box">
          <div class="card-content">
            <span class="card-title">Theme Development</span>
            <app-svg-bixolaunch></app-svg-bixolaunch>
            <p>We design and develop high quality customized WordPress themes. WordPress powers 26% of the
              web today, we use it as starting point for most of our clients.</p><br>
          </div>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="card white service-box">
          <div class="card-content ">
            <span class="card-title">Design + Development</span>
            <app-svg-bixodesign></app-svg-bixodesign>
            <p>Balancing your business goals and the needs of your users should never mean you have to compromise quality. We can help you shape your product strategy and design.</p>
          </div>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="card white service-box">
          <div class="card-content">
            <span class="card-title">Branding + Identity</span>
            <app-svg-bixobranding></app-svg-bixobranding>
            <p>Standing out in a world full of noise is something we've been doing for years. We can help your business find effective and efficient ways to help your brand stand out to your potential users.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END WHAT WE DO -->



