<nav id="back-to-top" class="top-navigation z-depth-0">
  <div class="nav-wrapper container">
    <a routerLink="/" class="brand-logo"><img class="bixo-logo hide-on-med-and-down" src="../assets/bixo-logo.png"></a>
    <ul id="nav-mobile" class="right">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
      <li routerLinkActive="active"><a routerLink="/about">About</a></li>
      <li routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>
</nav>
<!-- Outlet for Angular Components -->
<router-outlet></router-outlet>
<!--- Footer -->
<footer class="page-footer hide-on-med-and-down">
  <div class="container">
    <div class="row">
      <div class="col s4 center footer-left">
        <!-- Calendly link widget begin -->
        <a class="cta-btn" href="https://calendly.com/bixo">Schedule Us</a>
        <!-- Calendly link widget end -->
      </div>
      <div class="col s4 center footer-center">

      </div>
      <div class="col s4 valign-wrapper center footer-right">
        <ul>
          <li><a href="https://twitter.com/bixostudios"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
          <li><a href="https://dribbble.com/bixostudios"><i class="fa fa-dribbble fa-2x" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 | Bixo Studios | <i class="fa fa-code" aria-hidden="true"></i> with <i class="fa fa-heart red-text" aria-hidden="true"></i>      in San Antonio, Texas
      <a class="grey-text text-lighten-4 right" href="#back-to-top">Back to Top</a>
    </div>
  </div>
</footer>
