<section class="bixo-what-we-do">
  <div class="container">
    <h1 class="bixo-what-message">What We Do</h1>
    <div class="row">
      <div class="col s12 l4 services-box">
        Colum 1
      </div>
      <div class="col s12 l4 services-box">
        Colum 2
      </div>
      <div class="col s12 l4 services-box">
        Colum 3
      </div>
    </div>
    <div class="row">
      <div class="col s12 l4 services-box">
        Colum 4
      </div>
      <div class="col s12 l4 services-box">
        Colum 5
      </div>
      <div class="col s12 l4 services-box">
        Colum 6
      </div>
    </div>
  </div>
</section>