<section class="bixo-what-we-do">
  <div class="container">
    <h1 class="bixo-what-message">What We Do</h1>
    <div class="row">
      <div class="col s12 l4">
        <div class="card service-box">
          <div class="card-content white-text">
            <span class="card-title">Design + Dev</span>
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
              little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="card service-box">
          <div class="card-content white-text">
            <span class="card-title">Theme Development</span>
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
              little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="card service-box">
          <div class="card-content white-text">
            <span class="card-title">Branding + Identity</span>
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
              little markup to use effectively.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>