<section class="bixo-what-we-do">
  <div class="container">
    <h1 class="bixo-what-message">What We Do</h1>
    <div class="row">
      <div class="col s12 l4">
        <div class="card white service-box">
          <div class="card-content">
            <span class="card-title">Design + Dev</span>

            <svg version="1.1" id="BixoLaunch" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
              y="0px" width="800px" height="600px" viewBox="0 0 800 600" enable-background="new 0 0 800 600" xml:space="preserve">
              <g id="Rocket">
                <polygon fill="#FFFFFF" stroke="#1050FF" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" points="126.654,600
		68.016,600 47.073,530.436 147.597,530.436 	" />
                <polygon fill="#FFFFFF" stroke="#1050FF" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" points="729.799,600
		654.407,600 641.842,495.652 742.365,495.652 	" />
                <polygon fill="#FFFFFF" points="130.843,530.436 63.828,530.436 63.828,439.131 97.334,413.044 130.843,439.131 	" />
                <g>
                  <polygon fill="#FFFFFF" points="440.79,600 424.037,552.174 365.398,552.174 348.644,600 		" />
                </g>
                <polyline fill="#FFFFFF" points="499.43,256.521 595.765,256.521 595.765,552.174 193.669,552.174 193.669,256.521
		298.382,256.521 	" />
                <polygon fill="#FFFFFF" points="373.774,304.348 352.832,121.739 394.717,21.739 436.602,121.739 415.659,304.348 	" />
                <polygon fill="#CCEFFF" points="97.334,413.044 130.843,439.131 130.843,530.436 97.334,530.436 	" />
                <polygon fill="#CCEFFF" points="431.653,573.914 424.037,552.174 365.398,552.174 357.782,573.914 	" />
                <polygon fill="#455D7A" points="394.717,21.739 436.602,121.739 415.659,304.348 394.717,304.348 	" />
                <polygon fill="#CCEFFF" points="595.765,256.521 595.765,495.652 193.669,495.652 	" />

                <polyline fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  points="
		662.78,473.913 671.156,465.218 654.403,447.826 662.78,439.131 	" />

                <polyline fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  points="
		692.099,473.913 700.477,465.218 683.723,447.826 692.099,439.131 	" />

                <polyline fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  points="
		721.42,473.913 729.796,465.218 713.042,447.826 721.42,439.131 	" />
                <polygon fill="none" stroke="#1050FF" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" points="407.283,530.436
		394.717,539.131 382.152,530.436 382.152,517.391 394.717,508.695 407.283,517.391 	" />
                <g>

                  <polygon fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    points="
			440.79,600 424.037,552.174 365.398,552.174 348.644,600 		" />
                </g>

                <polygon fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  points="
		130.843,530.436 63.828,530.436 63.828,439.131 97.334,413.044 130.843,439.131 	" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="63.828" y1="460.869" x2="51.261" y2="460.869" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="63.828" y1="439.131" x2="55.45" y2="434.782" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="63.828" y1="486.957" x2="51.261" y2="486.957" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="63.828" y1="513.043" x2="51.261" y2="513.043" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="130.843" y1="460.869" x2="143.408" y2="460.869" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="130.843" y1="486.957" x2="143.408" y2="486.957" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="130.843" y1="513.043" x2="143.408" y2="513.043" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="80.581" y1="426.087" x2="72.204" y2="417.392" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="130.843" y1="439.131" x2="139.22" y2="434.782" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="114.089" y1="426.087" x2="122.466" y2="417.392" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="52.309" y1="547.826" x2="142.361" y2="547.826" />

                <polyline fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  points="
		80.581,513.043 88.958,500 80.581,486.957 88.958,473.913 80.581,460.869 88.958,447.826 	" />

                <polyline fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  points="
		105.712,513.043 114.089,500 105.712,486.957 114.089,473.913 105.712,460.869 114.089,447.826 	" />
                <g>

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="38.696" y1="600" x2="767.493" y2="600" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="788.434" y1="600" x2="801" y2="600" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="1" y1="600" x2="13.565" y2="600" />
                </g>
                <polygon fill="#FFFFFF" stroke="#1050FF" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" points="
		411.472,145.652 394.717,156.521 377.962,145.652 377.962,123.913 394.717,113.044 411.472,123.913 	" />

                <polygon fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  points="
		373.774,304.348 352.832,121.739 394.717,21.739 436.602,121.739 415.659,304.348 	" />

                <polygon fill="#FFFFFF" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  points="
		348.644,347.826 327.701,373.913 306.758,347.826 327.701,252.174 	" />

                <polygon fill="#FFFFFF" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  points="
		415.659,347.826 394.717,373.913 373.774,347.826 394.717,252.174 	" />

                <polygon fill="#FFFFFF" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  points="
		482.675,347.826 461.732,373.913 440.79,347.826 461.732,252.174 	" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="335.555" y1="288.045" x2="364.898" y2="226.968" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="344.775" y1="330.15" x2="373.774" y2="304.348" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="453.879" y1="288.045" x2="424.535" y2="226.968" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="444.66" y1="330.15" x2="415.659" y2="304.348" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="394.717" y1="21.739" x2="394.717" y2="0" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="306.758" y1="347.826" x2="348.644" y2="347.826" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="373.774" y1="347.826" x2="415.659" y2="347.826" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="440.79" y1="347.826" x2="482.675" y2="347.826" />
                <g id="Heart">
                  <polygon fill="#F95959" stroke="#1050FF" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" points="
			692.104,569.564 717.234,543.479 704.668,521.738 692.104,534.783 679.537,521.738 666.973,543.479 		" />
                </g>

                <polyline fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  points="
		739.225,521.738 771.681,521.738 750.738,573.914 732.941,573.914 	" />
                <g id="BoosterThree">

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="394.717" y1="395.652" x2="394.717" y2="421.739" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="394.717" y1="439.131" x2="394.717" y2="447.826" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="411.472" y1="386.957" x2="411.472" y2="413.044" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="411.472" y1="430.435" x2="411.472" y2="439.131" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="377.962" y1="386.957" x2="377.962" y2="413.044" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="377.962" y1="430.435" x2="377.962" y2="439.131" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="394.717" y1="465.218" x2="394.717" y2="469.565" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="411.472" y1="456.521" x2="411.472" y2="460.869" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="377.962" y1="456.521" x2="377.962" y2="460.869" />
                </g>
                <g id="BoosterTwo">

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="327.701" y1="395.652" x2="327.701" y2="421.739" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="327.701" y1="439.131" x2="327.701" y2="447.826" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="344.456" y1="386.957" x2="344.456" y2="413.044" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="344.456" y1="430.435" x2="344.456" y2="439.131" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="310.948" y1="386.957" x2="310.948" y2="413.044" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="310.948" y1="430.435" x2="310.948" y2="439.131" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="327.701" y1="465.218" x2="327.701" y2="469.565" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="344.456" y1="456.521" x2="344.456" y2="460.869" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="310.948" y1="456.521" x2="310.948" y2="460.869" />
                </g>
                <g id="BoosterOne">

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="461.732" y1="395.652" x2="461.732" y2="421.739" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="461.732" y1="439.131" x2="461.732" y2="447.826" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="478.487" y1="386.957" x2="478.487" y2="413.044" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="478.487" y1="430.435" x2="478.487" y2="439.131" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="444.979" y1="386.957" x2="444.979" y2="413.044" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="444.979" y1="430.435" x2="444.979" y2="439.131" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="461.732" y1="465.218" x2="461.732" y2="469.565" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="478.487" y1="456.521" x2="478.487" y2="460.869" />

                  <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                    x1="444.979" y1="456.521" x2="444.979" y2="460.869" />
                </g>

                <polyline fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  points="
		499.43,256.521 595.765,256.521 595.765,552.174 193.669,552.174 193.669,256.521 298.382,256.521 	" />

                <line fill="none" stroke="#1050FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  x1="193.669" y1="495.652" x2="595.765" y2="495.652" />
              </g>
            </svg>


          </div>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="card service-box">
          <div class="card-content ">
            <span class="card-title">Theme Development</span>
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
              little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="card service-box">
          <div class="card-content">
            <span class="card-title">Branding + Identity</span>
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
              little markup to use effectively.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
