.bixo-what-message {
    font-weight: 700;
    color: #F95959;
}

.service-box {
    background-color: #455D7A;
    color: #fff;
}

.card-title {
    font-size: 35px;
    font-weight: 400;
    color: #455D7A;
}

.card-content p {
    color: #455D7A;
}

.card {
    border-radius: 3px;
}


/* Rocket SVG */

#BixoLaunch {
    width: 300px;
    height: auto;
}

#BoosterOne line {
    fill: none;
    stroke: #F95959;
    stroke-dasharray: 10;
    stroke-dashoffset: 10;
    animation: 1.5s booster-animate infinite;
}

#BoosterTwo line {
    fill: none;
    stroke: #F95959;
    stroke-dasharray: 10;
    stroke-dashoffset: 10;
    animation: 2.5s booster-animate infinite;
}

#BoosterThree line {
    fill: none;
    stroke: #F95959;
    stroke-dasharray: 10;
    stroke-dashoffset: 10;
    animation: 2.0s booster-animate infinite;
}

@keyframes booster-animate {
    0% {
        stroke-dashoffset: 10;
    }
    25% {
        stroke-dashoffset: 7.5;
    }
    50% {
        stroke-dashoffset: 5;
    }
    75% {
        stroke-dashoffset: 2.5;
    }
    100% {
        stroke-dashoffset: 0;
    }
}


/* Design + Dev SVG */

#designDev {
    width: 300px;
    height: auto;
}

#EyePiece {
    fill: #fff;
    animation: 5s eye-animation infinite;
}

@keyframes eye-animation {
    0% {
        fill: #fff;
    }
    100% {
        fill: #F95959;
    }
}


/* Branding */

#bixoBranding {
    width: 300px;
    height: auto;
}

#EyeOne {
    fill: #fff;
    animation: 1s eye-animate infinite;
}

#EyeTwo {
    fill: #fff;
    animation: 3s eye-animate infinite;
}

@keyframes eye-animate {
    0% {
        fill: #fff;
    }
    100% {
        fill: #00c853;
    }
}


/* iPhone 6 landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    #BixoLaunch {
        width: 200px;
        height: auto;
        top: 0px;
    }
}


/* iPhone 6 portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    #BixoLaunch,
    #designDev,
    #bixoBranding {
        width: 200px;
        height: auto;
        top: 0px;
    }
}


/* iPhone 6 Plus landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
    #BixoLaunch,
    #designDev,
    #bixoBranding {
        width: 200px;
        height: auto;
    }
}


/* iPhone 6 Plus portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    #BixoLaunch,
    #designDev,
    #bixoBrandingh {
        width: 200px;
        height: auto;
    }
}
