<footer class="page-footer hide-on-med-and-down">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">Quick Nav</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Works</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
        </ul>
      </div>

      <div class="col l4 s12">

      </div>

      <div class="col l4 s12">
       <h5 class="white-text">Around The Web</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Dribbble</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Behanced</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 | Bixo Studios | <i class="fa fa-code" aria-hidden="true"></i> with <i class="fa fa-heart red-text" aria-hidden="true"></i> in San Antonio, Texas
      <a class="grey-text text-lighten-4 right" href="#!">Bixo.io</a>
    </div>
  </div>
</footer>
