/* Global Styles */

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,800,900|Roboto:300,400,700,900');

body {
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito Sans', sans-serif;
}

p,
ul,
li,
a {
    font-family: 'Roboto', sans-serif;
}

.bixo-heading {
    font-weight: 700;
    color: #F95959;
}


/* iPhone 6 landscape */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .bixo-heading {
        font-size: 3.0rem;
    }
    .who-we-are-message {
        font-size: 1.5rem;
    }
    .learn-more,
    .bixo-studios-text,
    .bixo-fancy-text {
        display: none;
    }
}


/* iPhone 6 portrait */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .bixo-heading {
        font-size: 3.0rem;
    }
    .who-we-are-message {
        font-size: 1.5rem;
    }
    .learn-more,
    .bixo-studios-text,
    .bixo-fancy-text {
        display: none;
    }
}


/* iPhone 6 Plus landscape */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
    .bixo-heading {
        font-size: 3.0rem;
    }
    .who-we-are-message {
        font-size: 1.0rem;
    }
    .learn-more,
    .bixo-studios-text,
    .bixo-fancy-text {
        display: none;
    }
}


/* iPhone 6 Plus portrait */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {
    .bixo-heading {
        font-size: 3.0rem;
    }
    .who-we-are-message {
        font-size: 1.0rem;
    }
    .learn-more,
    .bixo-fancy-text {
        display: none;
    }
}


/* iPhone 6 and 6 Plus */

@media only screen and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px) {}


/* Apple Watch */

@media (max-device-width: 42mm) and (min-device-width: 38mm) {}
