<section class="bixo-hero-our-way">
  <div class="container">
    <div class="row top-hero-spacer">
      <div class="col s12 l6 hide-on-small-only"></div>
    </div>
    <div class="row">
      <div class="col s12 l6 hide-on-small-only">
        <p class="bixo-studios-text" aria-label="BixoFancy">
          <span class="bixo-fancy-text" data-text="B">B</span>
          <span class="bixo-fancy-text" data-text="I">I</span>
          <span class="bixo-fancy-text" data-text="X">X</span>
          <span class="bixo-fancy-text" data-text="O">O</span>
        </p>
      </div>
      <div class="col s12 l6">
        <h3 class="bixo-hero-message">We are designers, developers, project managers and <span class="hoverable text-animate"> nerds</span>. We craft web
          experiences.
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align learn-more hide-on-small-only">
        <a href="#quick-who" class="btn-floating waves-effect waves-light red lighten-1 learn-more"><i class="material-icons">arrow_downward</i></a>
      </div>
    </div>
  </div>
</section>
