<section class="bixo-hero-our-way">
  <div class="container">
    <div class="row">
      <div class="col s12 l6">
        <p class="bixo-studios-text" aria-label="BixoFancy">
          <span class="bixo-fancy-text" data-text="B">B</span>
          <span class="bixo-fancy-text" data-text="I">I</span>
          <span class="bixo-fancy-text" data-text="X">X</span>
          <span class="bixo-fancy-text" data-text="O">O</span>
        </p>
      </div>
      <div class="col s12 l4">
        <h3 class="bixo-hero-message">We <span class="hoverable">craft</span> experiences, websites and services.</h3>
      </div>
      <div class="row">
        <div class="col s12 l10">
          <p class="bixo-studios-text" aria-label="BixoStudio">
            <span class="bixo-fancy-text" data-text="S">S</span>
            <span class="bixo-fancy-text" data-text="T">T</span>
            <span class="bixo-fancy-text" data-text="U">U</span>
            <span class="bixo-fancy-text" data-text="D">D</span>
            <span class="bixo-fancy-text" data-text="I">I</span>
            <span class="bixo-fancy-text" data-text="O">O</span>
            <span class="bixo-fancy-text" data-text="S">S</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
