<section class="bixo-hero-our-way">
  <div class="container">
    <div class="row">
      <div class="col s12 l6 hide-on-small-only">
        <p class="bixo-studios-text" aria-label="BixoFancy">
          <span class="bixo-fancy-text" data-text="B">B</span>
          <span class="bixo-fancy-text" data-text="I">I</span>
          <span class="bixo-fancy-text" data-text="X">X</span>
          <span class="bixo-fancy-text" data-text="O">O</span>
        </p>
      </div>
      <div class="col s12 l4">
        <h3 class="bixo-hero-message">We are designers, developers, project managers and <span class="hoverable"> nerds</span>. We craft web experiences.</h3>
      </div>
    </div>
  </div>
</section>
